@model Exam.ViewModels.FruitCreateVM
@{
    ViewData["Title"] = "Create";
    
}

<form>
    <div class="form-group">
        <label asp-for="Name">Name</label>
        <input asp-for="Name" class="form-control" id="Name" placeholder="Enter Name">
        <span asp-validation-for = "Name" class="form-text text-danger">Write name correctly</span>
    </div>
    <div class="form-group">
        <label asp-for="About">Name</label>
        <input asp-for="About" class="form-control" id="About" placeholder="Enter description about a fruit">
        <span asp-validation-for="About" class="form-text text-danger">Write description correctly</span>
    </div>
    <button type="submit" class="btn btn-success">Submit</button>
</form>
