@model Exam.ViewModels.FruitUpdateVM

@{
}

<form method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label asp-for="Name">Name</label>
        <input asp-for="Name" class="form-control" id="Name" placeholder="Change Name">
        <span asp-validation-for="Name" class="form-text text-danger">Write name correctly</span>
    </div>
    
    <div class="form-group">
        <label asp-for="About">Name</label>
        <input asp-for="About" class="form-control" id="About" placeholder="Change description about a fruit">
        <span asp-validation-for="About" class="form-text text-danger">Write description correctly</span>
    </div>
    <div class="form-group">
        <label asp-for="FileImage">Image</label>
        <input asp-for="FileImage" class="form-control" id="FileImage" placeholder="Change image">
        <span asp-validation-for="About" class="form-text text-danger">Write description correctly</span>
    </div>
    <button type="Update" class="btn btn-outline-warning">Update</button>
    <button type="submit" asp-action="Cancel" class="btn btn-danger">Cancel</button>
</form>